<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods">
    <test verbose="2" preserve-order="true" name="/home/keerthiga/Documents/Automation/sampleFrameworks">
        <classes>
            <class name="sampleTest.TestLevelFive">
                <methods>
                    <include name="workspaceTest"/>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>